<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form">
                <div class="form-group col-sm-9">
                    <input ng-model="searchText" type="text" class="form-control" placeholder="Search for an event...">
                </div>
                <div class="form-group col-sm-3">
                    <button class="btn btn-primary" ng-click="search()">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="result in results track by $index">{{ result }}</li>
        </ul>
    </div>

</div>
